
li {
  display: inline;
}

.topright { 
display: block;
line-height: 24px;
outline: none;
vertical-align: middle;
}

.aB {
float: right;
}


.topleft { 
display: block;
line-height: 24px;
outline: none;
vertical-align: middle;
}

.Ba {
float: left;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
width: 50%;
}
.img-container {
  text-align: center;
  display: block;
  
  
. bB {
 position: relative;
 margin: 0px;
}

